.titleContainer{
    text-align:center;
}

.titleContainer > div{
    display: inline-block;
}


.titleTeam{
    text-align: center;
    font-size: 50px;
}

.tableContainer{
    width: 100%;    
    height: 100%;
}

#timeRefresh{
	font-weight: bold;
}

.mainContainer{
	background-color: #EFEFEF;
}
/* --- CountDown Timer --- */
.clockdiv{
	font-family: sans-serif;
	color: black;
	display: inline-block;
	font-weight: 100;
	text-align: centrer;
	font-size: 15px;
}

.clockdiv > div{
	padding: 2px;
	border-radius: 50%;
	display: inline-block;  
}

.clockdiv div > span{
	padding: 15px;
	border-radius: 30%;
	background: green;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 12px;
}