

body{
	background-color: black;
	font-size: 1rem;
	color: white;
}

.table td{
	padding: 0.2rem;
}

.titleContainer{
	margin: auto;
	text-align:center;
	width: 50%;
	background-color: #EFEFEF;
	color: black;
}

.table thead th {
	vertical-align: 0;
	background-color: #EFEFEF;
	color: black;
}

.titleContainer > div{
	line-height: 50%;	
	padding: 15px;
    display: inline-block;
}

.titleItem{
    text-align: center;
	font-size: 30px;
}

.tableContainer{
    width: 100%;    
	height: 100%;
	border-style: solid;
	border-color:#C8C8C8;
	color: white;
}

#timeRefresh{
	font-weight: bold;
}

#refresh{
	color:white;
}

#mainContainer{
	background-color: black;
}

/* --- Disable animation on progress bar ---*/
.progress-bar {
	-webkit-transition: initial !important;
	-o-transition: initial !important;
	transition: initial !important;
}
  
  .progress-bar.active, .progress.active .progress-bar {
	-webkit-animation: initial !important;
	-o-animation: initial !important;
	animation: initial !important;
}

/* --- CountDown Timer --- */
.clockdiv{
	font-family: sans-serif;
	color: black;
	display: inline-block;
	font-weight: bold;
	text-align: centrer;
	font-size: 13px;
	border-radius: 15px;
}

.clockdiv > div{
	padding: 2px;
	border-radius: 50%;
	display: inline-block;  
}

.clockdiv div > span{
	padding: 15px;
	border-radius: 30%;
	display: inline-block;
}
